/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  color: var(--color-text);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  border-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  ". treme"
  "title title"
  "description description";
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  /* background-position: center;
  /* background-size: cover; */ 
  background-image: url(../images/cover-image-dark.png);
}

@media (min-width: 1024px) {

  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas: 
    ". treme lamp"
    "title title title"
    "description description";
  }

}

@media (min-width: 755px) {

  .header {
    padding: 20px;
  }

}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--color-button);
  border-right: 1px solid var(--color-button);
  inset-inline-end: 10px;
  inset-inline-start: 10px;
  display: block;
}

.decorated-zone::after {
  border-left: 1px solid var(--color-button);
  border-bottom: 1px solid var(--color-button);
  inset-inline-end:  10px;
  inset-inline-start: 10px;
}


@media (min-width: 755px) {

  .decorated-zone::before {     
    inset-inline-end: 20px;
    inset-inline-start: 20px;
   }
  
  .decorated-zone::after {
    inset-inline-end:  20px;
    inset-inline-start: 20px;
  }

}

.header__icon {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: var(--color-accent);
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: var(--visibility-icon-rec);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

@media (min-width: 755px) {

  .header__icon {
    top: 20px;
    right: 20px;
  }

}

.header__icon::after {
  content: "";
  display: block;
  margin: 8px 9px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  fill: #ff0070;
  box-shadow: 0 0 4px 2px var(--color-accent);  
}

.header__theme-menu {
  grid-area: treme;
  align-self: center;
}

@media (min-width: 1024px) {

  .header__theme-menu {
    height: 100%;
    justify-self: center;
  }

}


.header__theme-menu-list {
  display: flex;
  gap: 10px;
  /* padding: 10px; */
  align-items: end;
  flex-direction: column;
}


@media (min-width: 1024px) {

  .header__theme-menu-list {
    flex-direction: row;
  }

}


.header__theme-menu-button {
  padding: 0px 15px;
  /* width: 70px; */
  /* top: 20px; */
  /* right: 20px; */
  min-height: 26px;
  border: 1px solid transparent;
  color: var(--color-title);
  line-height: 100%;
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  background-color: var(--color-button);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--color-button);
}

.header__theme-menu-button:hover {
  background-color: var(--color-button-hover);
}


.header__title {
  grid-area: title;
  color: var(--color-main-title);
  font-family: inherit;
  font-weight: var(--accent-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0px var(--color-accent);
  line-height: 83%;
}

@media (min-width: 768px) {

  .header__title {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    left: calc(-1 * 20px);
  }

}

.header__description {
  display: flex;
  flex-direction: column;
  grid-area: description;
  justify-content: center;
}


@media (min-width: 768px) {

  .header__description {
    justify-self: end;
    width: 50%;
  }

}

.main {
  /* gap: 80px;
  padding: 60px 20px; */
  margin-block-start: 30px;
}

@media (min-width: 768px) {

  .main {
  margin-block-start: 40px;
  }

}

.link {
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--color-text);
}

.link:hover {
   border-block-end: 1px solid var(--color-text);
}

.link__text {
  text-shadow: 2px 1px 0px var(--color-link__text);
}

.section {
  padding: 10px;
}

.section_block {
  margin-block-end: 10px;
}

@media (min-width: 768px) {

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    margin-block-end: 40px;
    gap: 20px;
  }

}

.section_title {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--accent-font-weight);
  color: var(--color-title);
  margin-block-end: 20px;
}

@media (min-width: 755px) {

  .section_title {
    margin-block-end: 0px;
  }

}

.title-decor {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--accent-font-weight);
  color: var(--color-title-decor);
  background-color: var(--color-title-background);
}

.section_text {
  color: var(--color-text);
}

@media (min-width: 1024px) {

  .what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what_title {
    grid-column: span 3;
    max-height: 315px;
  }

  .what_article {
    grid-column: span 1;
  }

}

@media (min-width: 755px) {

  .blocks {
    grid-row: span 2;
  }

  .what_article {
    grid-column: span 2;
  }

  .goldfish_title {
    grid-row: span 6;
  }

}

.article {
  display: flex;
  flex-direction: column;
  font-size: inherit;
  line-height: 130%;
  gap: 10px;
  margin-block-end: 20px;
}

@media (min-width: 755px) {

  .article {
    margin-block-end: 0px;
  }

}

.goldfish_title {
  font-family: inherit;
  font-size: inherit;
  line-height: 130%;
  font-weight: var(--font-weight);
  color: var(--color-title-decor);
  background-color: var(--color-title-background);
}


.section_gallery {
  display: grid;
  gap: 10px;
  padding: 0px 20px;
  margin-block-end: 30px;
}

.gallery_img {
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

@media (min-width: 768px)  {

  .section_gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .gallery_title {
    grid-column: span 3;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;

  }

  .cassette {
    grid-row: span 2;

  }

  /* .books {
    grid-row: span 2;

  } */

  .street {
    grid-column: span 2;

  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px;

}


@media (min-width: 755px) {

  .footer {
    padding: 20px;
  }

} 

.footer_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family);
  font-weight: var(--accent-font-weight);
  text-shadow: 2px 2px 0px var(--color-accent);
  line-height: 83%;
  color: var(--color-main-title);
}

@media (min-width: 755px) {

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) 
    ;
  }

} 